body {
	font-family: Ubuntu;
	padding: 0;
	margin: 0 30px;
	background: #eee;
}

h1.primary {
	font-family: 'Share Tech Mono';
	text-align: center;
	font-size: 100px;
	color: #555;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #258fb8;
}

#content {
	position: relative;
}

.posts {
	float: left;
	width: 100%;
	margin-right: -300px;
}

.posts .wrapper {
	padding-right: 300px;
}

@media screen and (max-width: 900px) {
	.posts {
		float: none;
		margin-right: 0;
	}

	.posts .wrapper {
		padding-right: 0;
	}
}

.post {
	background-color: #FFF;
	color: #444;
	line-height: 150%;
	margin-bottom: 50px;
}

.post header {
}

.post header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 28px;
}

.post time {
	font-family: 'Ubuntu Mono';
	float: right;
	line-height: 20px;
	font-size: 16px;
}

.post .content {
	padding: 15px;
	padding-left: 70px;
	font-size: 14px;
}

.post img {
	width: 100%;
}

.post a.more {
	color: #258fb8;
}

.post .tags {
	float: right;
}

.post .tag {
	float: left;
	margin-right: 8px;
	color: #AAA;
	font-size: 12px;
}


#content > .tags {
	float: right;
	width: 250px;
	background-color: #FFF;
	color: #444;
	line-height: 150%;
	padding: 16px;
}

@media screen and (max-width: 900px) {
	#content > .tags {
		float: none;
		width: 100%;
	}
}

.tag {
	display: block;
	text-transform: uppercase;
	font-family: 'Ubuntu Mono';
	color: #258fb8;
}

.tag::before {
	content: "<";
	font-size: 120%;
	color: #DDD;
	padding-right: 6px;
}

.tag::after {
	content: "/>";
	font-size: 120%;
	color: #DDD;
	padding-left: 6px;
}